body, html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222;
    color: #ddd;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.hidden {
    display: none;
}

.klok-container {
    margin: -70px auto -40px auto;
    max-width: 400px;
}

.klok-container #maintime {
    font-size: 90px; }
.klok-container #currenttime {
    font-size: 40px; }
.klok-container #worktime, .klok-container #pausetime, .klok-container #giftwtime, .klok-container #giftptime {
    font-size: 30px; }
.klok-container #maindesc {
    font-size: 20px; }

.taim-container {
    width: 204px;
    margin: 0 auto;
}

.taim-accent {
    width: 200px;
    text-align: center;
    color: yellowgreen;
    font-size: 3em;
}
.title {
    margin-top: 20px;
    margin-bottom: 40px;
}
.title > span {
    font-size: initial;
    font-family: monospace;
    display: block;
}
.taim-sub-title {
    font-size: 1em;
}
.taim-sub-title > span {
    margin: 0 10px;
}


#exit-elapsed {
    color: #666;
}

.taim-icon {
    display: block;
    text-indent: -9999px;
    width: 26px;
    height: 26px;
    opacity: .4;
}
.taim-icon-menu {background: url(assets/menu.svg);}
.taim-icon-close {background: url(assets/close.svg);}
.taim-icon-github {
    width: 14px;
    height: 14px;
    background: url(assets/github.svg);
}

input {
    border: none;
    padding: 6px;

    background-color: rgba(250,250,250,.8);
    border-radius: 3px;
    outline: none;
}
input.taim-input {
    width: 80px;
    margin: 0 10px 0 0;
    text-align: center;
    font-size: 1.5em;
}

.taim-impo .taim-input {
    background-color: #777;
}

[template] {
    display: none;
}

[taim-button] {
    border: none;
    outline: none;
    border-radius: 13px;
    background-color: rgba(200,200,200,.6);
    cursor: pointer;
}

.taim-line {
    display: flex;
    margin-bottom: 10px;
}
.taim-line > * {
    display: inline-flex;
}

#lines {
    margin-bottom: 40px;
}

.line-desc > span {
    width: 80px;
    display: inline-block;
    text-align: center;
    padding: 0 6px;
    margin-right: 10px;
    font-family: monospace;
}

.taim-graph {
    width: 100%;
    left: 0;
    height: 100px;
}

.taim-get-out {
    display: none;
}
body.get-out .taim-get-out {
    display: block;
}

@keyframes pulse {
    0%, 100% {background-color: #222;}
    50% {background-color: #662;}
}

body.get-out {
    animation: pulse 1s ease infinite alternate;
}


/* pulse in SVG */
svg.pulse-svg {
    overflow: visible; }
svg.pulse-svg.active .over-circle {
    visibility: visible; }
svg.pulse-svg.active .circle {
    visibility: visible;
    fill: yellow; }
svg.pulse-svg.over {
    position: fixed;
    top: 0;
    pointer-events: none; }
svg.pulse-svg .over-circle {
    visibility: hidden; }
svg.pulse-svg .first-circle, svg.pulse-svg .second-circle, svg.pulse-svg .third-circle {
    visibility: hidden;
    transform: scale(0.5);
    transform-origin: center center;
    animation: pulse-me 3s linear infinite; }
svg.pulse-svg .second-circle {
    animation-delay: 1s; }
svg.pulse-svg .third-circle {
    animation-delay: 2s; }

/* pulse in CSS */
.pulse-css {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: yellowgreen;
    position: relative; }
.pulse-css:before, .pulse-css:after {
    content: '';
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: yellowgreen;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transform: scale(0.5);
    transform-origin: center center;
    animation: pulse-me 3s linear infinite; }
.pulse-css:after {
    animation-delay: 2s; }

@keyframes pulse-me {
    0% {
        transform: scale(0.5);
        opacity: 0; }
    50% {
        opacity: 0.1; }
    70% {
        opacity: 0.09; }
    100% {
        transform: scale(5);
        opacity: 0; } }
