body, html {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin: 0;

    background-color: #222;
    color: #ddd;
}

.md-icon {
    display: block;
    text-indent: -9999px;
    width: 26px;
    height: 26px;
    opacity: .4;
}
.md-icon-menu {background: url(assets/menu.svg);}
.md-icon-close {background: url(assets/close.svg);}
.md-icon-github {
    width: 14px;
    height: 14px;
    background: url(assets/github.svg);
}

[template] {
    display: none;
}

[button] {

}

